body {
    font-family: Arial, sans-serif;
    background: url('https://images.unsplash.com/photo-1712111474888-29e9431241b6?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.2); /* Darker background for better contrast */
    padding: 2rem;
    margin-bottom: 2rem;
    color: white;
    border-radius: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.9); /* Slightly more opaque for better readability */
    border: none;
    transition: transform 0.3s ease;
}

.card-body {
    color: #333; /* Darker text color */
}

.card-title {
    font-weight: bold;
}

.card:hover {
    transform: translateY(-10px);
    opacity: 1;
}
.card {
    opacity: 0.8;
}

button {
    font-size: 1rem;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.9); /* More opaque for better readability */
    color: #333; /* Darker text color */
    border: none;
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.navbar-brand, .nav-link {
    color: rgb(5, 5, 5) !important;
    font-weight: bold;
}
